<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>
<body>
    <h1>COMP S350F - Group Project 39 - Main Page</h1>
    <% if (userId) { %>
        <p>Hello, <%= userId %>!</p>
        <button onclick="window.location.href='/user/logout'">登出</button>
        <button onclick="window.location.href='/restaurant/registerRestaurant'">菜單</button>
    <% } else { %>
        <p>Please login !</p>
        <button onclick="window.location.href='/user/login'">登入</button>
    <% } %>

</body>
</html>
