<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"><h1>COMP S350F - Group Project 39 - Register Restaruant Page</h1></a>
    <form action="/restaurant/registerRestaurant" method="POST">
        <% if (success) { %>
            <p style="color: green;">Restaurant registration successful</p>
        <% } %>
        Restaruant Name:
        <input type="text" name="restaurantName" placeholder="restaurantName"><br/>
        Restaruant City:
        <input type="text" name="restaurantCity" placeholder="restaurantCity"><br/>
        Restaruant Street:
        <input type="text" name="restaurantStreet" placeholder="restaurantStreet"><br/>
        <input type="submit" value="Sign In" class="sign-btn" />
    </form>


</body>
</html>